@font-face {
    font-family: 'Dodsfall';
    src: url('./fonts/Dodsfall/Dodsfall-regular.eot');
    src: url('./fonts/Dodsfall/Dodsfall-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Dodsfall/Dodsfall-regular.woff2') format('woff2'),
         url('./fonts/Dodsfall/Dodsfall-regular.woff') format('woff'),
         url('./fonts/Dodsfall/Dodsfall-regular.svg#Dodsfall-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Text Italic';
    src: url('./fonts/Tiempos/TiemposText-RegularItalic.eot');
    src: url('./fonts/Tiempos/TiemposText-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Tiempos/TiemposText-RegularItalic.woff2') format('woff2'),
        url('./fonts/Tiempos/TiemposText-RegularItalic.woff') format('woff'),
        url('./fonts/Tiempos/TiemposText-RegularItalic.svg#TiemposText-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('./fonts/Tiempos/TiemposText-Regular.eot');
    src: url('./fonts/Tiempos/TiemposText-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Tiempos/TiemposText-Regular.woff2') format('woff2'),
        url('./fonts/Tiempos/TiemposText-Regular.woff') format('woff'),
        url('./fonts/Tiempos/TiemposText-Regular.svg#TiemposText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('./fonts/Tiempos/TiemposHeadline-Bold.eot');
    src: url('./fonts/Tiempos/TiemposHeadline-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Tiempos/TiemposHeadline-Bold.woff2') format('woff2'),
        url('./fonts/Tiempos/TiemposHeadline-Bold.woff') format('woff'),
        url('./fonts/Tiempos/TiemposHeadline-Bold.svg#TiemposHeadline-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
